.taskName {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    border: 1px solid black;
  }

.center  {
    text-align: center;
}

.input, .btn {
    display: block;
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px auto;
    text-align: center;
}

.btn {
    background-color: #4CAF50;
    color: white;
}